/* --------------------------- */
/* vvv Page Layout         vvv */

/* Squish the logo */
#p-logo a.mw-wiki-logo {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 5%;
}

/* Hide remnant container blocking page content */
div#mw-panel {
    padding: 0;
    top: 0;
}

#p-logo {
    height: unset;
    top: 0;
}

#p-navigation {
    display: none;
}

#p-tb {
    display: none;
}

#content {
    margin-left: 0;
}
/* ^^^ Page Layout         ^^^ */
/* --------------------------- */
/* vvv Icons               vvv */

.mw-collapsible-toggle .icon_dp {
	float: left;
}

.icon_dp:before {
    content: "";
    background: gray;
    border: 5px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    border-radius: 50%;
}

.large.icon_dp:before {
    width: 50px;
    height: 50px;
    font-size: 35px;
}

.icon_dp.ticket_creation:before {
    content: "🏁";
    background: lightgray;
    border: 5px solid #2db911;
}

.icon_dp.ticket_close:before {
    content: "⛳";
    background: lightgray;
    border: 5px solid #f03a17;
}

.icon_dp.engineer:before {
    content: "🛠️";
    background: yellow;
    border: 5px solid #ffc500;
}

.icon_dp.strategist:before {
    content: "🎯️";
    background: #000;
    border: 5px solid #999;
}

.icon_dp.dev:before {
    content: "💻️";
    background: #ca8d89;
    border: 5px solid #795454;
}

.icon_dp.webdev:before {
    content: "🌐️";
    background: #4e76a0;
    border: 5px solid #82a7b3;
}

.icon_dp.design:before {
    content: "🎨️";
    background: #cc2032;
    border: 5px solid #ec4f5f;
}

#see_also:before {
    content: "See Also:";
}

.see_also-link:before {
    content: "🔹 ";
}

/* ^^^ Icons               ^^^ */
/* --------------------------- */
/* vvv Stages              vvv */

.stage div.mw-collapsible-toggle-collapsed.custom:before {
    content: ""; /*🔺*/
}

.stage div.mw-collapsible-toggle-expanded:before {
    content: ""; /*🔻*/
}

body div.mw-parser-output div.edit_button h1 {
    border: none;
    position: absolute;
    right: 5px;
    margin-top: 0;
}

.edit_button .mw-headline, .edit_button .mw-editsection-bracket {
    display: none;
}

.edit_button .mw-editsection {
    margin: 0;
}

.edit_button a:before {
    content: "✏️";
}

/* ^^^ Stages              ^^^ */
/* --------------------------- */
/* vvv Collapsing Sections vvv */
.mw-collapsible {
    display: flex;
    flex-direction: column;
}

.mw-collapsible {
    display: flex;
    flex-direction: column;
}

.mw-collapsible-toggle-collapsed:after {
    content: "";
}

.mw-collapsible-toggle-expanded:after {
    content: "";
}

.mw-collapsible-toggle-collapsed:before {
    content: "🔻";
}

.mw-collapsible-toggle-expanded:before {
    content: "🔺";
}

span.mw-collapsible-toggle {
    width: min-content;
    background: #6B818C; /* steel gray */
    padding: 0.5%;
    border-radius: 5px;
}

a.mw-collapsible-text {
    color: #EEE5E9; /* off white */
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: bold;
}

.mw-collapsible-content {
    padding: 1% 2%;
}

/* ^^^ Collapsing Sections ^^^ */
/* --------------------------- */
/* vvv Floating Box        vvv */

.side_by_side {
    display: flex;
    flex-wrap: wrap;
}

.side_by_side > *:nth-child(1) {
    flex: 1 1 500px;
}

.side_box {
    flex: 1 1 35%;
    min-width: 250px;
    background:#f6f6f6;
    padding:1%;
    border:1px solid;
    margin:1%;
}

/* ^^^ Floating Box        ^^^ */
/* --------------------------- */
/* vvv Platforms           vvv */

.platform {
    position: relative;
    background: #f6f6f6;
    border-left: 15px solid #afafaf;
    box-shadow: 4px 4px 4px #00000030;
    padding: 15px;
    margin: 1% 0;
    border-radius: 15px;
}

.optinmonster {
    border-color: #6aa807;
    background-color: #6aa80714;
}

.mailchimp {
    border-color: #ffe01b;
    background-color: #ffe01b14;
}

.wpengine {
    border-color: #0ecad4;
    background-color: #0ecad414;
}

.fuse2 {
    border-color: #cd1f31;
    background-color: #fffafa;;
}

.fuse {
    background: #f9fbf8;
    border-left: 15px solid #714f99;
}

/* ^^^ Platforms           ^^^ */
/* --------------------------- */
/* vvv Step                vvv */

.step {
    background: #ffffff;
    color: black;
    border: 1px solid #00000029;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.platform .step {
    position: absolute;
    top: -15px;
}

/* ^^^ Step                ^^^ */
/* --------------------------- */
/* vvv Tickets             vvv */

.ticket {
    border-left: 5px dashed #fff;
    display: grid;
    grid-template-areas: "a b" "c c";
    grid-template-columns: 1fr 50%;
}

.ticket-attrbutes {  
    grid-area: b;
}

.ticket-description {  
    grid-area: c;
}

/* ^^^ Tickets             ^^^ */
/* --------------------------- */
/* vvv Utilites            vvv */

/* Color Palette */
.color-white {
    color: white;
}

.color-black {
    color: black;
}

.bgcolor-gray {
    background-color: #818598;
}

.bgcolor-gray {
    background-color: #818598;
}

.bgcolor-gray-light {
    background-color: #DFDFDF;
}

.bgcolor-gray-lighter {
    background-color: #EEEEEE;
}

.bgcolor-gray-lightest {
    background-color: #F9F9F9;
}

.bgcolor-gray-darkest {
    background-color: #1f1f1f;
}

.bgcolor-tan {
    background-color: #f9f0de;
}

.hover\:bgcolor-tan:hover {
    background-color: rgba(249,240,222,.71);
}

.color-red {
    color: red;
}

.bgcolor-red-light {
    background-color: #ffe6e5;
}

.hover\:bgcolor-red-lighter:hover {
    background-color: #ffeded;
}

.bgcolor-orange {
    background-color: #FF8552;
}

.bgcolor-green-light {
    background-color: #e6f9de;
}

.hover\:bgcolor-green-lighter:hover {
    background-color: #edfbe8;
}

.transition-bg, .transition-bg:hover {
    transition: background .25s;
}


/* Text */
.text-xs{
    font-size: smaller;
}

.text-sm{
    font-size: small;
}

.text-lg{
    font-size: large;
}
.text-lr{
    font-size: larger;
}
.text-xl{
    font-size: x-large;
}

.font-bold {
    font-weight: bold;
}

.leading-normal {
    line-height: 1.5;
}

/* Borders & Shadows */
.border {
     border: 1px solid black;
 }

.border_color-red {
     border-color: red;
 }

 .rounded {
    border-radius: 15px;
 }

 .rounded-full {
    border-radius: 100%;
 }

 .shadow {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.63);
 }

 .shadow-md {
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.19);
 }

 .hover\:shadow-md:hover {
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.19);
 }

 .transition-shadow, .transition-shadow:hover {
    transition: box-shadow .25s;
}


/* Alignment & Layout */
.vw-100 {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: left;
}

.w-full {
    width: 100%;
}

.max-w-full {
    max-width: 100%;
}

.h-max {
    height: max-content;
}

.align_center {
    text-align: center;
}

.static	{ position: static; }
.fixed	{ position: fixed; }
.absolute	{ position: absolute; }
.relative	{ position: relative; }
.sticky	{ position: sticky; }
.block	{ display: block; }
.inline-block	{ display: inline-block; }
.inline	{ display: inline; }
.inline-flex	{ display: inline-flex; }

.flex-horizonal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-vertical_align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.justify-end {
	justify-content: flex-end;
}
    

.flex-250 {
    flex: 1 1 250px;
}

/* Spacing */
.m-1px {
    margin: 1px;
}

.m-2px {
    margin: 2px;
}

.m-3px {
    margin: 3px;
}

.m-4px {
    margin: 4px;
}

.m-5px {
    margin: 5px;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1%;
}

.m-2 {
    margin: 2%;
}

.m-3 {
    margin: 3%;
}

.m-4 {
    margin: 4%;
}

.m-5 {
    margin: 5%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-5px {
    margin-left: 5px;
    margin-right: 5px;
}

.mb-0 {
    margin-bottom: 0%;
}

.mb-1 {
    margin-bottom: 1%;
}

.mb-2 {
    margin-bottom: 2%;
}

.mb-3 {
    margin-bottom: 3%;
}

.mb-4 {
    margin-bottom: 4%;
}

.mb-5 {
    margin-bottom: 5%;
}

.mr-1 {
    margin-right: 1%;
}

.mr-35 {
    margin-right: 35px;
}

.p-1px {
    padding: 1px;
}

.p-2px {
    padding: 2px;
}

.p-3px {
    padding: 3px;
}

.p-4px {
    padding: 4px;
}

.p-5px {
    padding: 5px;
}

.p-0 {
    padding: 0%;
}

.p-1 {
    padding: 1%;
}

.p-2 {
    padding: 2%;
}

.p-3 {
    padding: 3%;
}

.p-4 {
    padding: 4%;
}

.p-5 {
    padding: 5%;
}

.px-5px {
    padding-left: 5px;
    padding-right: 5px;
}

.pb-0 {
    padding-bottom: 0;
}
